@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout - Contact - TheHappy.cshtml";
}

<br />
<br />

<h4>Get notified when the application is ready.</h4>

@*<p id="counter">1</p>*@

<form action="/Home/EmailNotifier" method="Post" class="form-horizontal">

    <div class="form-group">
        <div class="col-md-10">
            <input id="emailInput" type="text" name="userEmail" class="form-control" placeholder="Your email" aria-label="Recipient's email" aria-describedby="basic-addon2">
        </div>
        <div class="col-md-10">
            <button id="oneMore" type="submit" class="btn btn-default">Get notified</button>
        </div>
    </div>

    <br />
    @ViewBag.Success

</form>




