@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout - Contact - TheHappy.cshtml";
}



<h3>Get notified when the application is ready.</h3>

@using (Html.BeginForm("EmailNotifier", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

        <div id="AboutText" class="container">
            <div id="email" class="input-group mb-3">

                <p id="counter">1</p>

                <input id="emailInput" type="text" class="form-control" placeholder="Your email" aria-label="Recipient's email" aria-describedby="basic-addon2">

                <div class="input-group-append">
                    <button id="oneMore" class="btn btn-outline-secondary" type="button">Get notified</button>
                </div>

            </div>
        </div>
}
