@{
    ViewBag.Title = "Home Page";
}
@{
    Layout = "~/Views/Shared/_Layout - About.cshtml";
}


<style type="text/css">

    body {
        background-image: linear-gradient(rgb(255, 0, 0),rgba(0,0,0,0.1)), url('../../Content/images/TenTenCut.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
</style>


<div id="AboutText">

    <h1>Welcome, we are aiming on rediscovering the world of your books.</h1>
    @*<h2>
        This is an app for searing your books with your friends. Not digital books, but your physical books.
        It helps you to keep track with their whereabouts, as they are seared from a pool of carriers that you choose.
        Read and write reviews and decide to give or not a Clap, when they are returned back to you in perfect condition.
        So...explore and have fun...and don't hesitate searing!
    </h2>*@
</div>


<div id="email" >
    <div id="email" class="input-group mb-3">
        <p id="counter">1</p>
        <input id="emailInput" type="text" class="form-control" placeholder="Your email" aria-label="Recipient's email" aria-describedby="basic-addon2">

        <div class="input-group-append">
            <button id="oneMore" class="btn btn-outline-secondary" type="button">Get notified</button>
        </div>
    </div>
</div>


