@*<style>
    #insideCanvas2 {
        position: fixed;
        left: 100%;
        right: 0%;
        min-width: 10%;
        top: 70%;
        bottom: 0px;
        z-index: 2;
        color: white;
    }
</style>

<div id="insideCanvas2">
    <p>Name</p>
    <p>Claps</p>
    <p>Shovels</p>
    <p>Treats</p>
    <p>Poisonous cookies</p>
</div>*@

<p>Name</p>
<p>Claps</p>
<p>Shovels</p>
<p>Treats</p>
<p>Poisonous cookies</p>