
 @if (User.Identity.IsAuthenticated)
    {
        <li id="weAreHere">@Html.ActionLink("All", "Index", "Books")</li>
    }
    <li>@Html.ActionLink("My", "MyBooks", "Books")</li>
    <li>@Html.ActionLink("Hand", "MyHand", "Books")</li>
    <li id="blink">@Html.ActionLink("History", "Requests", "Player")</li>

@{Html.RenderAction("CheckUnansweredRequests", "Player"); }